<!DOCTYPE html>
<html>
<head>
    <title>Vapour</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Start a New Chat</h1>
    <p>Logged in as: <strong>{{ user_id }}</strong></p>
    <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>

    <div>
        <input type="text" id="recipientId" placeholder="Enter Recipient ID" />
        <button id="startChatButton">Start Chat</button>
    </div>

    <script src="/static/js/chat.js"></script>
</body>
</html>