services:
  vapour:
    build:
      context: ..
      dockerfile: docker/Dockerfile.app
    container_name: vapour
    ports:
      - 5000:5000
    depends_on:
      - redis

  redis:
    image: redis:alpine