services:
  ephemeral-chatter:
    build:
      context: ..
      dockerfile: docker/Dockerfile.app
    container_name: ephemeral-chatter
    ports:
      - "127.0.0.1:5000:5000"
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:alpine
    networks:
      - app-network

networks:
  app-network:
    driver: bridge